#!/bin/sh

# Create user data dirs
# Create symlink to the vault
# Start gossa for each user
{% for user in vault_gossa_users %}
mkdir -p data/{{ user.name }}
if [ ! -L "/data/{{ user.name }}/vault" ]; then
    ln -s /vault /data/{{ user.name }}/vault
fi
/gossa -h gossa -p {{ user.port }} -ro={{ user.ro }} -prefix="/{{ user.name }}/" -symlinks=true data/{{ user.name }} &

{% endfor %}

# Sleep forever
while true; do sleep infinity; done
