#!/bin/sh

# First port to start gossa instances on
PORT=8001

# Create user data dirs
# Create symlink to the vault
# Start gossa for each user
{% for user in vault_gossa_users %}
mkdir -p data/{{ user.name }}
if [ ! -L "/data/{{ user.name }}/vault" ]; then
    ln -s /vault /data/{{ user.name }}/vault
fi
/gossa -h gossa -p $PORT -ro={{ user.ro }} -prefix="/{{ user.name }}/" -symlinks=true data/{{ user.name }} &
PORT=$((PORT+1))
{% endfor %}

# Sleep forever
while true; do sleep 1000; done
