<html>
    <head>
    <style>
        .content {
        max-width: 500px;
        margin: auto;
        }
    </style>
    </head>
    <body>
        <div class="content">
            <a href="/media/">
                <h1>Media</h1>
            </a>
            <ul>
                <li>
                <a href="/media/Movies">
                    <h2>Movies</h2>
                </a>
                </li>
                <li>
                <a href="/media/Series">
                    <h2>Series</h2>
                </a>
                </li>
            </ul>
        </div>
    </body>
</html>