#!/usr/bin/env bash

# To verify Content-MD5 attributes from Azure: md5sum --binary $filename | awk '{print $1}' | xxd -p -r | base64

ROOT_FOLDER="/mnt/data/vault"

function az () {
    podman run --rm -v azcli:/root/.azure mcr.microsoft.com/azure-cli az "$@";
}

echo "$(date '+%Y-%m-%d %H:%M:%S') Starting rclone sync to Azure Blob Storage..."

echo "Checking Azure access..."
if ! az account list | jq -e '.[] | select(.id == "{{ vault_az_subscription_id }}")' > /dev/null; then
    echo "Subscription {{ vault_az_subscription_id }} not found"
    echo "No Azure login! Please run 'podman run --rm -v azcli:/root/.azure mcr.microsoft.com/azure-cli az login' and try again."
    exit 1
fi

sas_expiry_date=$(date -d "3 days" "+%Y-%m-%d")

echo "Generating SAS token for {{ vault_storage_container_name }} with expiry date $sas_expiry_date"
sas_token=$(az storage container generate-sas --account-name {{ vault_storage_account_name }} --name {{ vault_storage_container_name }} --permissions acdlrw --expiry "$sas_expiry_date" --auth-mode login --as-user --subscription {{ vault_az_subscription_id }})

echo "Generating SAS URL..."
sas_url=$(echo "https://{{ vault_storage_account_name }}.blob.core.windows.net/{{ vault_storage_container_name }}?$sas_token" | sed 's/"//g')
# echo "SAS URL: $sas_url"

echo "Processing folders..."
for folder in $(ls $ROOT_FOLDER); do
    echo "Processing $ROOT_FOLDER/$folder"
    rclone --azureblob-sas-url "$sas_url" --azureblob-archive-tier-delete -P copy "$ROOT_FOLDER/$folder" "azure:{{ vault_storage_container_name }}/$folder"
    echo ""
done
