---
- name: HomeAssistant
  hosts: "pi4"
  vars:
    homeassistant_version: "2026.1.0"
    conbee_dev_host: "/dev/ttyACM0" # /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II
    conbee_dev_container: "/dev/ttyACM0"
  tasks:
    # - name: Download deCONZ container for firmware upgrades
    #   containers.podman.podman_container:
    #     name: deconz
    #     image: docker.io/deconzcommunity/deconz:stable
    #     detach: true
    #     restart_policy: no
    #     # pull: always
    #     # group_add:
    #       # - "keep-groups" # required for /dev/ttyACM0
    #     annotation:
    #       run.oci.keep_original_groups: "1" # replace with group_add right above for podman >3.2.0, see https://www.redhat.com/en/blog/files-devices-podman
    #     ports:
    #       - "8124:8124"
    #       - "8125:8125"
    #       - "8126:8126"
    #     volumes:
    #       - "/etc/localtime:/etc/localtime:ro"
    #       - "opt-deconz:/opt/deCONZ"
    #       - "deconz-otau:/root/otau"
    #     env:
    #       DECONZ_WS_PORT: "8124"
    #       DECONZ_WEB_PORT: "8125"
    #       DECONZ_VNC_MODE: "0"
    #       DECONZ_VNC_PORT: "8126"
    #       DECONZ_VNC_PASSWORD: "{{ vault_deconz_vnc_password }}"
    #     device:
    #       - "{{ conbee_dev_host }}:{{ conbee_dev_container }}"
    #     state: stopped

    - name: Add udev rules to ensure proper ownership for ConBee 2
      ansible.builtin.copy:
        src: "../configs/udev/99-conbee-2.rules"
        dest: "/etc/udev/rules.d/99-conbee-2.rules"
        mode: "0644"
      become: true

    - name: Apply udev rules - reload udev
      ansible.builtin.command:
        cmd: udevadm control --reload
      become: true

    - name: Apply udev rules - trigger udev
      ansible.builtin.command:
        cmd: udevadm trigger
      become: true

    - name: Apply udev rules - wait for udev settle
      ansible.builtin.command:
        cmd: udevadm settle
      become: true

    - name: Run HomeAssistant container
      containers.podman.podman_container:
        name: homeassistant
        image: "ghcr.io/home-assistant/home-assistant:{{ homeassistant_version }}"
        detach: true
        restart_policy: always
        ports:
          - "8123:8123"
        volumes:
          - "/etc/localtime:/etc/localtime:ro"
          - "homeassistant-config:/config"
        device:
          - "{{ conbee_dev_host }}:{{ conbee_dev_container }}"
        state: started

    # Do a little restart dance to make sure ConBee is properly assigned in container and ZHA is working
    # Very ugly workaround for a weird (presumed) race condition where the container starts with /dev/ttyACM0 owned
    # by root and then switches to nobody at the end of hass startup; there are some udev events visible in udevadm monitor
    # For some reason this doesn't happen when stopping and starting the container manually after the first run
    # Direct restart also doesn't work because of a weird port conflict, feels like podman isn't stopping the container fully before starting it again
    # Tried a few things but only viable alternative seems to be running rootful for now
    - name: Wait for HomeAssistant to start
      ansible.builtin.pause:
        minutes: 1

    - name: Stop HomeAssistant container
      containers.podman.podman_container:
        name: homeassistant
        state: stopped

    - name: Start HomeAssistant container
      containers.podman.podman_container:
        name: homeassistant
        state: started
