---
- name: Jellyfin
  hosts: "pi4"
  vars:
    media_dir: "/mnt/data/vault"
  tasks:
    - name: Start Jellyfin container
      containers.podman.podman_container:
        name: jellyfin
        image: "docker.io/jellyfin/jellyfin:10.11.2"
        detach: true
        restart_policy: always
        ports:
          - "8096:8096"
          - "7359:7359"
        volumes:
          - "/etc/localtime:/etc/localtime:ro"
          - "jellyfin-config:/config"
          - "jellyfin-cache:/cache"
        mounts:
          - "type=bind,src={{ media_dir }},dst=/mnt/media,ro=true"
        state: started
