---
- name: Syncthing
  hosts: "pi4"
  vars:
    host_syncthing_dir: "/home/{{ ansible_user_id }}/syncthing"
    vault_dir: "/mnt/data/vault"
    container_syncthing_dir: "/var/syncthing"
  tasks:
    - name: "Ensure {{ host_syncthing_dir }} dir exists"
      ansible.builtin.file:
        path: "{{ host_syncthing_dir }}"
        state: directory

    - name: Start Syncthing container
      containers.podman.podman_container:
        name: syncthing
        image: "docker.io/syncthing/syncthing:2.0.11"
        detach: true
        network_mode: host
        restart_policy: always
        volumes:
          - "/etc/localtime:/etc/localtime:ro"
          - "{{ host_syncthing_dir }}:{{ container_syncthing_dir }}"
          - "{{ vault_dir }}:{{ container_syncthing_dir }}/vault"
        env:
          STGUIADDRESS: "" # fall back to 127.0.0.1, see https://github.com/syncthing/syncthing/blob/main/README-Docker.md#gui-security
          PUID: "0"
          PGID: "0"
        state: started
